* {
    margin: 0 auto;
    padding: 0;
}
li{
  list-style: none;
}
#wrap {
  width:70%;
  display: inline-block;
  position: absolute;
  left:15%;
  right:15%;
  padding-bottom: 50px;
  margin-top: 50px;
  font-family: 'ON-IGothic',AppleGothic,sans-serif;
  background: #f0f0f0;
}
