* {
    margin: 0 auto;
    padding: 0;
}
li {list-style: none;}

html, body{
   height: 100%;
}

.slideWrap{
  position: absolute;
  width:100%;
  height:50%;
  overflow: hidden;
  padding-top: 5%;
  top:0px;
  background: #c2c2c2;
}
.slick-slider{
  position: absolute;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
