* {
    margin: 0 auto;
    padding: 0;
}
li {list-style: none;}

html, body{
   height: 100%;
}

.slideWrap{
  z-index:2;
  height:100%;
  overflow: hidden;
  padding-top: 5%;
}
.slick-slider{
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
