* {
    margin: 0 auto;
    padding: 0;
}
li {list-style: none;}

html, body{
   height: 100%;
}

.slideWrap{
  position: absolute;
  height:-webkit-calc(100% - 91px);
  width:100%;
}

.slideWrap > img{
  position: absolute;
  left:2.5%;
  height:90%;
  width:95%;
}
