

li {
  list-style: none;
}

#wrap { width: 100%; font-size:23px; font-family: 'ON-IGothic',AppleGothic,sans-serif;}

#wrap > div.listWrap > a.title {
  width: 100%;
  font-size:23px;
  border-bottom: 5px solid #fca103;
  font-weight: bold;
 }
#wrap > div.listWrap > ul{
  margin-top: 40px;
}

#wrap > div.listWrap > ul.journalList > li{
  margin-bottom: 20px;
}


#wrap > div.listWrap > ul.journalList > li > a{
  font-size:15px;
  font-family: AppleGothic,sans-serif;
}
