.professordiv{ position: relative; top:60px;}
.professordiv > div.menu {padding: 0; position: absolute; width:100%; height:40px; border-bottom: 1px solid #c3c3c3;}
.professordiv > div.menu > a {font-size: 16px; width:120px; line-height: 40px; float: left; text-align: center; font-family: 'LotteMartDream',AppleGothic,sans-serif;}
.professordiv > div.menu > a.active{font-size: 16px; width:120px; line-height: 40px; float: left; background: #fafafa; text-align: center; font-weight: bold;}
.professordiv > div.menu > a:hover {cursor: pointer;}
.professordiv > div.loadDiv > div.info{width:100%; position: relative; top: 40px; height: 270px; background: #fafafa;  border-bottom: 1px solid #c3c3c3;}
.professordiv > div.loadDiv > div.info > div.profile {width:150px; height: 240px; background: #fff; float: left; margin: 20px 0px 0px 10px; background: #e2e2e2;}
.professordiv > div.loadDiv > div.info > div.profile > img{width:150px; height: 240px;}

.professordiv > div.loadDiv > div.info > div.comment01 {margin: 20px 0px 0px 20px; width: 80%;  height: 240px; float: left;}
.professordiv > div.loadDiv > div.info > div.comment01 > p {font-size: 22px; font-style: bold; font-family: 'ON-IGothic',AppleGothic,sans-serif; }
.professordiv > div.loadDiv > div.info > div.comment01 > ul {margin-left: 30px; font-size: 15px; font-family: sans-serif; width:100%;}
.professordiv > div.loadDiv > div.info > div.comment01 > ul > li {width:100%;}
.professordiv > div.loadDiv > div.info > div.comment01 > ul > li > a.email {color:#007bff; cursor:pointer;}
.professordiv > div.loadDiv > div.info > div.comment01 > ul > li > a.email:hover {text-decoration:underline;}

.professordiv > div.loadDiv > div.info > div.comment02{margin-top: 40px; width: 1150px; height: 100%; float: left;}
.professordiv > div.loadDiv > div.info > div.comment02 > p {font-size: 22px; font-family: 'ON-IGothic',AppleGothic,sans-serif; }
.professordiv > div.loadDiv > div.info > div.comment02 > ul {margin-left: 30px; font-size: 15px; font-family: sans-serif; }
