* {
    margin: 0 auto;
    padding: 0;
}
#mainWrap{
  position: absolute;
  width:80%;
  height:auto;
  top:120px;
  left:10%;
}
.peopleMenuWrap{
  display: inline-block;
}
.peopleMenuWrap > ul > li:first-child{
    width:170px;
    height:80px;
    border-bottom: #fca103 solid 3px;
    font-size: 1em;
}
.peopleMenuWrap > ul > li:first-child > div > p{
    width:170px;
    line-height: 80px;
    font-size: 1.2em;
    text-align: center;
    margin-left: 0px;
    font-family: 'ON-IGothic';
}
.peopleMenuWrap > ul > li{
    width:170px;
    height:50px;
    border-bottom: #c2c2c2 solid 1px;
    list-style: none;
    cursor: pointer;
    background: #f2f2f2;
    font-family: 'NIXGONM-Vb';
}
.peopleMenuWrap > ul > li > div.peopleli{
    border-bottom: #c2c2c2 solid 1px;
    cursor: pointer;
    background: #1e2d3b;
    color: #ffffff;
    width:170px;
    height:50px;
    list-style: none;
}

.peopleMenuWrap > ul > li > div.peopleli:hover{
  background: #fca103;
  color:#1e2d3b;
  font-family: 'ON-IGothic';
}
.peopleMenuWrap > ul > li > div > p{
    width:150px;
    line-height: 50px;
    font-size: 1em;
    margin-left: 10px;
}

#infoWrap {
  display: inline-block;
  position: absolute;
  left:250px;
  right:0;
  padding-bottom: 50px;
}
