* {
    margin: 0 auto;
    padding: 0;
}
#mainWrap{
  position: relative;
  width:80%;
  height:auto;
  top:50px;
}
.peopleMenuWrap{
  position: absolute;
  width: 100%;
  height: 50px;
}
.peopleMenuWrap > ul{
  float: left;
  height:50px;
}
.peopleMenuWrap > ul > li{
    width:170px;
    height:55px;
    list-style: none;
    cursor: pointer;
    font-family: 'NIXGONM-Vb';
    float: left;
}

.peopleMenuWrap > ul > li:hover{
    background: #f3f3f3;
    color:#1e2d3b;
    font-family: 'ON-IGothic';
}

.peopleMenuWrap > ul > li > p{
    width:150px;
    height:30px;
    font-size: 1.3rem;
    font-family: 'ON-IGothic';
    text-align: center;
    margin-top: 12px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}

#infoWrap {
  display: inline-block;
  position: absolute;
  top:50px;
  padding-bottom: 100px;
}
