* {
    margin: 0 auto;
    padding: 0;
}
html, body{
    height: 100%;
    overflow: hidden;
}
li {list-style: none;}

#header {width:100%; height:60px; background: #1e2d3b; position: relative;}
#header > h2 {color: #fff; line-height: 60px; text-align: left; left:20px; font-size: 20px; position: absolute;}

#wrap {width: 100%; color:#fff; }

#wrap > div.menu{ width:200px; display: block; float: left; background: #1e2d3b; height:1000px; position: relative;}
#wrap > div.menu > ul{margin-top: 10px; position: absolute; width:200px;}
#wrap > div.menu > ul > li {text-align: center; position: relative; cursor: pointer;}
#wrap > div.menu > ul > li > a{padding: 10px; display: block; color:#fff; }
#wrap > div.menu > ul > li > a:hover {background: rgba(0,0,0,0.4); }
#wrap > div.menu > ul > li > ul.submenu {display: none; position: absolute; right: -200px; top: 0; background: #1e2d3b; width: 200px;}
#wrap > div.menu > ul > li > ul.submenu li{height:40px;}
#wrap > div.menu > ul > li > ul.submenu li > a{line-height: 40px;}
#wrap > div.menu > ul > li > ul.submenu li:hover {background: rgba(0,0,0,0.2);}
#wrap > div.content { background: #e4eef5; float: left; display: block; height: 100%; width:-webkit-calc(100% - 200px); }
#content{overflow: auto;}
#content > div.content {width:100%; }
